@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VT323';
  src: url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
}

.font-pixel {
  font-family: 'VT323', monospace;
  letter-spacing: 0.5px;
}